<a href="https://colab.research.google.com/github/MatheusAcacioR/praticando-python/blob/master/Experimento_1_Karla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# idades = [1, 3, 4, 17, 14, 24, 56, 18]

# for idade in idades:
#     if idade < 18:
#       if (idade >= 1 and idade <= 14):
#         print("fundamental")
#       else:
#         continue
#     else:
#       print("Maior")
i = 0

for teste in range(0, 5):
  i = i + teste
  print(i)

0
1
3
6
10

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Importando a biblioteca pandas e matplot

import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Chamando o dataset oiginal e o dataset tratado

dt = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Extração 23Nov21 - Um ano/DadosInterpolados_23Nov21.csv")
dt

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (1,2,3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

                 Unnamed: 0  ...            1TIC1001/PV
0                       NaN  ...  BA-101 FIRING DEMAND
1                 timestamp  ...                  DEG C
2       11-01-2020 00:00:36  ...               839.5437
3       11-01-2020 00:01:36  ...               839.3197
4       11-01-2020 00:02:36  ...                839.453
...                     ...  ...                    ...
527036  11-01-2021 23:55:35  ...               850.9451
527037  11-01-2021 23:56:35  ...               850.6448
527038  11-01-2021 23:57:35  ...               850.4253
527039  11-01-2021 23:58:35  ...               850.4396
527040  11-01-2021 23:59:36  ...               850.5207

[527041 rows x 5 columns]

In [4]:
# removendo as linhas 0 e 1 que sao linhas de texto e as linhas de dados outliers

dt = dt.drop([0, 1, 305917, 305918, 314845, 331464, 331465, 331466, 331467, 331468, 331469, 331470, 331471, 331472, 331473, 331474, 409704, 500411, 509200, 509201])

In [5]:
# renomeando a primeira coluna para timestamp

dt.rename(columns={'Unnamed: 0': 'Timestamp'}, inplace=True)

In [6]:
# resetando a indexação do dataframe

dt = dt.reset_index(drop = True)

In [7]:
# convertendo as colunas numericas para float a coluna Timestamp para datetime

dt['B1001-EOF'] = dt['B1001-EOF'].astype(float)
dt['1TIC1001/SP'] = dt['1TIC1001/SP'].astype(float)
dt['1AY1010-1/PV'] = dt['1AY1010-1/PV'].astype(float)
dt['1TIC1001/PV'] = dt['1TIC1001/PV'].astype(float)
dt['Timestamp'] = pd.to_datetime(dt['Timestamp'], format='%m-%d-%Y %H:%M:%S')

In [8]:
# renomeando as linhas da coluna B1001-EOF para Propano (O que for -9998.0) e Etano (O que for -9992.0)

dt.loc[dt["B1001-EOF"] == -9998.0, 'B1001-EOF'] = "Propano"
dt.loc[dt["B1001-EOF"] == -9992.0, 'B1001-EOF'] = "Etano"
dt.loc[dt["B1001-EOF"] == -9997.0, 'B1001-EOF'] = "Carga_piloto_apagado"
dt.loc[dt["B1001-EOF"] == -9996.0, 'B1001-EOF'] = "HSS"
dt.loc[dt["B1001-EOF"] == -9995.0, 'B1001-EOF'] = "Elev_resf"
dt.loc[dt["B1001-EOF"] == -9994.0, 'B1001-EOF'] = "NA"
dt.loc[dt["B1001-EOF"] == -9993.0, 'B1001-EOF'] = "Decoque"
dt.loc[dt["B1001-EOF"] == -9991.0, 'B1001-EOF'] = "Piloto_aceso"
dt.loc[dt["B1001-EOF"] == -9990.0, 'B1001-EOF'] = "Parado"
dt.loc[dt["B1001-EOF"] == -9989.0, 'B1001-EOF'] = "Shutdown"

In [ ]:
dt

                 Timestamp B1001-EOF  1TIC1001/SP  1AY1010-1/PV  1TIC1001/PV
0      2020-11-01 00:00:36   Propano     839.6396      89.63950     839.5437
1      2020-11-01 00:01:36   Propano     839.6586      89.63950     839.3197
2      2020-11-01 00:02:36   Propano     839.6958      89.63950     839.4530
3      2020-11-01 00:03:36   Propano     839.7322      89.63950     839.1481
4      2020-11-01 00:04:36   Propano     839.7794      89.72152     838.8094
...                    ...       ...          ...           ...          ...
527016 2021-11-01 23:55:35   Propano     850.8524      92.15460     850.9451
527017 2021-11-01 23:56:35   Propano     850.8419      92.15460     850.6448
527018 2021-11-01 23:57:35   Propano     850.8410      92.15460     850.4253
527019 2021-11-01 23:58:35   Propano     850.8401      92.15460     850.4396
527020 2021-11-01 23:59:36   Propano     850.8447      92.15460     850.5207

[527021 rows x 5 columns]

In [14]:
newDt = dt.assign(Status="-")
newDt

                 Timestamp B1001-EOF  ...  1TIC1001/PV  Status
0      2020-11-01 00:00:36   Propano  ...     839.5437       -
1      2020-11-01 00:01:36   Propano  ...     839.3197       -
2      2020-11-01 00:02:36   Propano  ...     839.4530       -
3      2020-11-01 00:03:36   Propano  ...     839.1481       -
4      2020-11-01 00:04:36   Propano  ...     838.8094       -
...                    ...       ...  ...          ...     ...
527016 2021-11-01 23:55:35   Propano  ...     850.9451       -
527017 2021-11-01 23:56:35   Propano  ...     850.6448       -
527018 2021-11-01 23:57:35   Propano  ...     850.4253       -
527019 2021-11-01 23:58:35   Propano  ...     850.4396       -
527020 2021-11-01 23:59:36   Propano  ...     850.5207       -

[527021 rows x 6 columns]

In [ ]:
newDt.loc[(newDt["1TIC1001/PV"] <= 799) | (newDt["1TIC1001/PV"] >= 856), 'Status'] = "Falha"
newDt.loc[(newDt["1TIC1001/PV"] > 799) & (newDt["1TIC1001/PV"] < 856), 'Status'] = "OK"

In [16]:
newDt

                 Timestamp B1001-EOF  ...  1TIC1001/PV  Status
0      2020-11-01 00:00:36   Propano  ...     839.5437       -
1      2020-11-01 00:01:36   Propano  ...     839.3197       -
2      2020-11-01 00:02:36   Propano  ...     839.4530       -
3      2020-11-01 00:03:36   Propano  ...     839.1481       -
4      2020-11-01 00:04:36   Propano  ...     838.8094       -
...                    ...       ...  ...          ...     ...
527016 2021-11-01 23:55:35   Propano  ...     850.9451       -
527017 2021-11-01 23:56:35   Propano  ...     850.6448       -
527018 2021-11-01 23:57:35   Propano  ...     850.4253       -
527019 2021-11-01 23:58:35   Propano  ...     850.4396       -
527020 2021-11-01 23:59:36   Propano  ...     850.5207       -

[527021 rows x 6 columns]

In [ ]:
falha = newDt[newDt["Status"] == "Falha"]
falha['1TIC1001/PV'].unique()

array([], dtype=float64)

In [15]:
"""
1 - Analisar a temperatura da 1 linha para saber se esta dentro ou fora do limite. ✔

2 - Analisar as (Dt) linhas subsequentes, se tambem estiverem dentro ou fora do limite, colocar o status (OK/Falha) para essas (Dt) linhas. ✔

3 - Analisar a proxima linha que esta sem status (-) e repetir a analise do item 2. ✔

4 - Executar até o final do dataset. ✔

"""

# cont = 0

# for linha in range(0, len(newDt) - 5):
#   if (newDt["1TIC1001/PV"][linha] == "-"):
#     if (newDt["1TIC1001/PV"][linha] <= 799.0) or (newDt["1TIC1001/PV"][linha] >= 856.0): # fora
#       linha+=1
#       if (newDt["1TIC1001/PV"][linha] <= 799.0) or (newDt["1TIC1001/PV"][linha] >= 856.0):
#         linha+=1
#         if (newDt["1TIC1001/PV"][linha] <= 799.0) or (newDt["1TIC1001/PV"][linha] >= 856.0):
#           linha+=1
#           if (newDt["1TIC1001/PV"][linha] <= 799.0) or (newDt["1TIC1001/PV"][linha] >= 856.0):
#             linha+=1
#             if (newDt["1TIC1001/PV"][linha] <= 799.0) or (newDt["1TIC1001/PV"][linha] >= 856.0):
#               cont = linha
#               linha = 0
#               newDt.iloc[linha:cont , 5] = "Falha"
#             else:
#               linha -= 1
#               cont = linha
#               linha = 0
#               newDt.iloc[linha:cont, 5] = "Out"
#               continue
#           else:
#             linha -= 1
#             cont = linha
#             linha = 0
#             newDt.iloc[linha:cont, 5] = "Out"
#             continue
#         else:
#           linha -= 1
#           cont = linha
#           linha = 0
#           newDt.iloc[linha:cont, 5] = "Out"
#           continue
#       else:
#         linha -= 1
#         cont = linha
#         linha = 0
#         newDt.iloc[linha:cont, 5] = "Out"
#         continue
#     else:
#       linha+=1
#       if (newDt["1TIC1001/PV"][linha] > 799.0) and (newDt["1TIC1001/PV"][linha] < 856.0): #dentro
#         linha+=1
#         if (newDt["1TIC1001/PV"][linha] > 799.0) and (newDt["1TIC1001/PV"][linha] < 856.0):
#           linha+=1
#           if (newDt["1TIC1001/PV"][linha] > 799.0) and (newDt["1TIC1001/PV"][linha] < 856.0):
#             linha+=1
#             if (newDt["1TIC1001/PV"][linha] > 799.0) and (newDt["1TIC1001/PV"][linha] < 856.0):
#               newDt.iloc[linha:cont, 5] = "OK"
#             else:
#               linha -= 1
#               cont = linha
#               linha = 0
#               newDt.iloc[linha:cont, 5] = "Out"
#               continue
#           else:
#             linha -= 1
#             cont = linha
#             linha = 0
#             newDt.iloc[linha:cont, 5] = "Out"
#             continue
#         else:
#           linha -= 1
#           cont = linha
#           linha = 0
#           newDt.iloc[linha:cont, 5] = "Out"
#           continue
#       else:
#         linha -= 1
#         cont = linha
#         linha = 0
#         newDt.iloc[linha:cont, 5] = "Out"
#         continue
#   else: 
#     continue
cont = 0

for linha in range(0, len(newDt) - 5):
  if (newDt["1TIC1001/PV"][linha] == "-"):
    if (newDt["1TIC1001/PV"][linha] <= 799.0) or (newDt["1TIC1001/PV"][linha] >= 856.0): # fora
      cont+=1
      if (newDt["1TIC1001/PV"][cont] <= 799.0) or (newDt["1TIC1001/PV"][cont] >= 856.0):
        cont+=1
        if (newDt["1TIC1001/PV"][cont] <= 799.0) or (newDt["1TIC1001/PV"][cont] >= 856.0):
          cont+=1
          if (newDt["1TIC1001/PV"][cont] <= 799.0) or (newDt["1TIC1001/PV"][cont] >= 856.0):
            cont+=1
            if (newDt["1TIC1001/PV"][cont] <= 799.0) or (newDt["1TIC1001/PV"][cont] >= 856.0):
              newDt.iloc[linha:cont, 5] = "Falha"
            else:
              cont -= 1
              newDt.iloc[linha:cont, 5] = "Out"
              cont = linha
              continue
          else:
            cont -= 1
            newDt.iloc[linha:cont, 5] = "Out"
            cont = linha
            continue
        else:
          cont -= 1
          newDt.iloc[linha:cont, 5] = "Out"
          cont = linha
          continue
      else:
        cont -= 1
        newDt.iloc[linha:cont, 5] = "Out"
        cont = linha
        continue
    else:
      cont+=1
      if (newDt["1TIC1001/PV"][cont] > 799.0) and (newDt["1TIC1001/PV"][cont] < 856.0): #dentro
        cont+=1
        if (newDt["1TIC1001/PV"][cont] > 799.0) and (newDt["1TIC1001/PV"][cont] < 856.0):
          cont+=1
          if (newDt["1TIC1001/PV"][cont] > 799.0) and (newDt["1TIC1001/PV"][cont] < 856.0):
            cont+=1
            if (newDt["1TIC1001/PV"][cont] > 799.0) and (newDt["1TIC1001/PV"][cont] < 856.0):
              newDt.iloc[linha:cont, 5] = "OK"
            else:
              cont -= 1
              newDt.iloc[linha:cont, 5] = "Out"
              cont = linha
              continue
          else:
            cont -= 1
            newDt.iloc[linha:cont, 5] = "Out"
            cont = linha
            continue
        else:
          cont -= 1
          newDt.iloc[linha:cont, 5] = "Out"
          cont = linha
          continue
      else:
        cont -= 1
        newDt.iloc[linha:cont, 5] = "Out"
        cont = linha
        continue
# (newDt["1TIC1001/PV"][line] <= 799) | (newDt["1TIC1001/PV"][line] >= 856)
# (newDt["1TIC1001/PV"] > 799) & (newDt["1TIC1001/PV"] < 856)
# newDt.loc[newDt["Status"][line], 'Status'] = "Falha"
# newDt.loc[newDt["Status"][line], 'Status'] = "OK"

In [ ]:
newDt["Status"].unique()

array(['-'], dtype=object)

## Temperatura

In [ ]:
# Limites: < 800 / > 855
# Linhas que estao fora do range de temperatura adequado

outOfRangeDegree = dt[(dt["1TIC1001/PV"] <= 799) | (dt["1TIC1001/PV"] >= 856)]
outOfRangeDegree

In [ ]:
# Os dias que houveram falha por temperatura

diasDeFalhaTemperatura = pd.DataFrame({
    "Dias de falhas de temperatura": outOfRangeDegree['Timestamp'].dt.date
}).drop_duplicates().reset_index(drop = True)

diasDeFalhaTemperatura

    Dias de falhas de temperatura
0                      2020-11-01
1                      2020-11-10
2                      2020-11-11
3                      2020-11-12
4                      2020-11-14
..                            ...
106                    2021-09-20
107                    2021-10-01
108                    2021-10-20
109                    2021-10-30
110                    2021-10-31

[111 rows x 1 columns]

In [ ]:
# Grafico que mostra a porcentagem de falhas de temperatura dentro desses 1 ano de dataset

labels = 'Falha', 'Sem falha'
sizes = [len(diasDeFalhaTemperatura), 365]
figl, axl = plt.subplots()
c = ['#EB002A', '#DF0CF6']
axl.pie(sizes, labels=labels, autopct='%1.1f%%', shadow=False, startangle=90, colors=c)
axl.axis('equal')
axl.set_title("Porcentagem de falhas pela temperatura em 1 ano")
plt.show()

In [ ]:
# Quantas vezes (em minutos) teve falha por temperatura em cada dia que houve falha

agrupamento = pd.DataFrame({
    "Dias": outOfRangeDegree['Timestamp'].dt.date,
    "1TIC1001/PV": outOfRangeDegree['1TIC1001/PV']
}).reset_index(drop = True).groupby(["Dias"]).size()

agrupamento

In [ ]:
# Linhas de propano fora da faixa de temperatura

outOfRangeDegreePropano = outOfRangeDegree[outOfRangeDegree["B1001-EOF"] == 'Propano']

outOfRangeDegreePropano

In [ ]:
# Dias que houveram falha de temperatura e que eram Propano

diasDeFalhaPropanoTemperatura = pd.DataFrame({
    "Dias de falhas de temperatura": outOfRangeDegree['Timestamp'].dt.date
}).reset_index(drop = True)

diasDeFalhaPropanoTemperatura

In [ ]:
# Convertendo de datetime para string para plotagem do gráfico

diasDeFalhaPropanoTemperatura["Dias de falhas de temperatura"] = pd.to_datetime(diasDeFalhaPropanoTemperatura["Dias de falhas de temperatura"])
diasDeFalhaPropanoTemperatura["Dias de falhas de temperatura"] = diasDeFalhaPropanoTemperatura["Dias de falhas de temperatura"].dt.strftime('%d/%m/%Y')

In [ ]:
dias = diasDeFalhaPropanoTemperatura["Dias de falhas de temperatura"]
dias_sum = dias.value_counts()
dias_sum = dias_sum.sort_index()

x = dias_sum.index
y = dias_sum

plt.figure(figsize=(8, 6))

plt.bar(x, y)

plt.title('Quantidade de falhas de Propano nos dias')
plt.xlabel('Dias')
plt.xticks(rotation=90)
plt.ylabel('Falhas')
plt.xticks(x) # obriga a mostrar todos os números no eixo x

In [ ]:
dias.hist()

In [ ]:
# Dias que houveram falha de temperatura e que eram Etano (Nao há Etano fora da faixa de temperatura)
outOfRangeDegree[outOfRangeDegree["B1001-EOF"] == 'Etano']

## Porcentagem dos fatores de conversão

In [ ]:
# Limites: < 60 / > 75
# Linhas de Etano que estao fora do range de sua porcentagem
outOfRangeEtan = dt[((dt["1AY1010-1/PV"] <= 59) | (dt["1AY1010-1/PV"] >= 76)) & (dt["B1001-EOF"] == 'Etano')]
outOfRangeEtan

In [ ]:
# Os dias que houveram falha de Etano
diasDeFalhaEtano = pd.DataFrame({
    "Dias de Falha de Etano": outOfRangeEtan['Timestamp'].dt.date
}).reset_index(drop = True)

diasDeFalhaEtano

In [ ]:
# Quantas vezes (em minutos) teve falha do etano em cada dia que houve falha
quantidadePorDiaEtano = pd.DataFrame({
    "Dias": outOfRangeEtan['Timestamp'].dt.date,
    "1AY1010-1/PV": outOfRangeEtan['1AY1010-1/PV']
}).reset_index(drop = True).groupby(["Dias"]).size()

quantidadePorDiaEtano

In [ ]:
# Convertendo de datetime para string para plotagem do gráfico

diasDeFalhaEtano["Dias de Falha de Etano"] = pd.to_datetime(diasDeFalhaEtano["Dias de Falha de Etano"])
diasDeFalhaEtano["Dias de Falha de Etano"] = diasDeFalhaEtano["Dias de Falha de Etano"].dt.strftime('%d/%m/%Y')

In [ ]:
# Plotagem do grafico de barras com as quantidades de falha de etano em cada dia de falha

dias = diasDeFalhaEtano["Dias de Falha de Etano"]
dias_sum = dias.value_counts()
dias_sum = dias_sum.sort_index()

x = dias_sum.index
y = dias_sum

plt.figure(figsize=(8, 6))

plt.bar(x, y)

plt.title('Quantidade de falhas de Etano nos dias')
plt.xlabel('Dias')
plt.xticks(rotation=90)
plt.ylabel('Falhas')
plt.xticks(x) # obriga a mostrar todos os números no eixo x

In [ ]:
# Grafico que mostra a porcentagem de falhas de etano dentro desses 1 ano de dataset

labels = 'Etano', 'Sem falha'
sizes = [len(quantidadePorDiaEtano), 365]
figl, axl = plt.subplots()
c = ['#EB002A', '#DF0CF6']
axl.pie(sizes, labels=labels, autopct='%1.1f%%', shadow=False, startangle=90, colors=c)
axl.axis('equal')
axl.set_title("Porcentagem de falhas pelo Etano em 1 ano")
plt.show()

In [ ]:
# Limites: < 80 / > 95
# Linhas de propano que estao fora do range de sua porcentagem
outOfRangePropan = dt[((dt["1AY1010-1/PV"] <= 79) | (dt["1AY1010-1/PV"] > 96)) & (dt["B1001-EOF"] == 'Propano')]
outOfRangePropan

In [ ]:
# Os dias que houveram falha de Propano
diasDeFalhaPropano = pd.DataFrame({
    "Dias de falha do Propano": outOfRangePropan['Timestamp'].dt.date
}).reset_index(drop = True)

diasDeFalhaPropano

In [ ]:
# Quantas vezes (em minutos) teve falha do propano em cada dia
quantidadePorDiaPropano = pd.DataFrame({
    "Dias": outOfRangePropan['Timestamp'].dt.date,
    "1AY1010-1/PV": outOfRangePropan['1AY1010-1/PV']
}).reset_index(drop = True).groupby(["Dias"]).size()

quantidadePorDiaPropano

In [ ]:
# Convertendo de datetime para string para plotagem do grafico

diasDeFalhaPropano["Dias de falha do Propano"] = pd.to_datetime(diasDeFalhaPropano["Dias de falha do Propano"])
diasDeFalhaPropano["Dias de falha do Propano"] = diasDeFalhaPropano["Dias de falha do Propano"].dt.strftime('%d/%m/%Y')

In [ ]:
# Plotagem do grafico de barras com as quantidades de falha de propano em cada dia de falha

dias = diasDeFalhaPropano["Dias de falha do Propano"]
dias_sum = dias.value_counts()
dias_sum = dias_sum.sort_index()

x = dias_sum.index
y = dias_sum

plt.figure(figsize=(8, 6))

plt.bar(x, y)

plt.title('Quantidade de falhas de Propano nos dias')
plt.xlabel('Dias')
plt.xticks(rotation=90)
plt.ylabel('Falhas')
plt.xticks(x) # obriga a mostrar todos os números no eixo x

In [ ]:
# Grafico que mostra a porcentagem de falhas de propano dentro desses 1 ano de dataset

labels = 'Propano', 'Sem falha'
sizes = [len(quantidadePorDiaPropano), 365]
figl, axl = plt.subplots()
c = ['#EB002A', '#DF0CF6']
axl.pie(sizes, labels=labels, autopct='%1.1f%%', shadow=False, startangle=90, colors=c)
axl.axis('equal')
axl.set_title("Porcentagem de falhas pelo Propano em 1 ano")
plt.show()

## Pesquisa por dia

In [ ]:
2# Filtragem por data
tipoPesquisa = input("""Escolha o tipo de pesquisa

- Temperatura
- Propano
- Etano

""")

dia = int(input("Dia: "))
mes = int(input("Mes: "))
ano = int(input("Ano: "))

if tipoPesquisa == "Temperatura":
  display(outOfRangeDegree[(outOfRangeDegree["Timestamp"] > f'{ano}-{mes}-{dia}') & (outOfRangeDegree["Timestamp"] < f'{ano}-{mes}-{dia + 1}')].reset_index(drop = True))
elif tipoPesquisa == "Propano":
  display(outOfRangePropan[(outOfRangePropan["Timestamp"] > f'{ano}-{mes}-{dia}') & (outOfRangePropan["Timestamp"] < f'{ano}-{mes}-{dia + 1}')].reset_index(drop = True))
elif tipoPesquisa == "Etano":
    display(outOfRangeEtan[(outOfRangeEtan["Timestamp"] > f'{ano}-{mes}-{dia}') & (outOfRangeEtan["Timestamp"] < f'{ano}-{mes}-{dia + 1}')].reset_index(drop = True))
else:
  print("Tipo de pesquisa não reconhecido")